.content-signup {
  width: 35%;
  height: auto;
  border-radius: 2px;
  padding: 20px;
  margin: 98px auto;
  margin-top:13%;
}
.content-signup__word-sigup {
  color: #9E9E9E !important;
  font-weight: 600;
  font-size: 19px;
    text-align: right;
  text-decoration: none;
  margin-bottom: 3rem;
}
.content-signup__username {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: black;
  border-radius: 3px;
}
.content-signup__username-star,.content-signup__mobile-star {
  color: red;
}

.content-signup__submit {
    background-color: #148ae8;
    color: white;
    padding: 4px 19px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.6rem;
}

.content-signup__submit:hover {
  background-color: rgb(12, 120, 134) !important;
}

.errormsg {
  color: red;
}
@media only screen and (max-width: 992px) {
  .content-signup {
    width: 95%;
  }
}
label {
  float: right;
    display: inline-block;
    margin-bottom: 12%;
    color: #094371;
    font-size: 1.2rem;
}
.content-signup__text-muted{
    font-size:0.9rem;
    color: #000;
    text-align: center;
    padding: 10px 0;
}
.content-signup__word-login{
  font-weight:bold;
}
