.app-title{
    /* font-size: 1.8rem; */
    margin-left: 36%;
    margin-top: 5%;
}
.app-icon{
 background-color: #148ae8;
 color: #eee;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 border-bottom: solid;
 border-bottom-color: #148ae8;
}
.app-icon i{
 font-size: 359%;
}
.app-header{
display: flex;
border-bottom: solid;
border-bottom-width: 4px;
border-bottom-color: #148ae8;
}
