
.arrow{
  color: #095da0;
  FONT-SIZE: 400%;
  margin-left: 77%;
}

.cleaning-type-title{
  font-size: 1.5rem;
  margin-left: 47%;
  margin-top: 15%;
}
.clean-button{
  background-color: #148ae8;
  color: white;
  padding: 4px 19px;
  margin: 40px 0;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  opacity: 0.9;
  font-size: 1.3rem;
  margin-left: 10%;
}
.day{
  background-color: #095da0;
}
.book-paragraph{
  font-family: cairo;
  font-size: 16px;
  text-align: center;
}