
.landing-page-container-link{
    margin-top: 10%;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    padding: 10px 0;
}
.landing-page-container-reg-button{
  background-color: #cac5c5;
  border: none;
  margin-top: 25%;
  margin-left: 10%;
  padding: 0.4em -1em;
  margin-right: 10%;
  font-family: cairo;
  border: none;
  text-align: center;
  font-weight: bold;
}
