.day-title{
  font-size: 26px;
  text-align: center;
  margin: 10% 0;
}

.arrow-div{
  display: grid;
  color: #095da0;
  FONT-SIZE: 400%;
  margin-top: 50%;
}
.date{
  margin-left: 14%;
  width: 70%;
}